<!DOCTYPE html>
<html lang="<%= infos.locale %>">
  <head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate" />
    <link rel="stylesheet" href="<%= asset_url('styles/index.styl') %>">
    <title><%= title %></title>
  </head>
  <body>

    <div id="barba-wrapper">
      <div class="barba-container" data-namespace="<%= page %>">
        <%= content %>
      </div>
    </div>

    <script src="<%= asset_url('scripts/vendor/index.js') %>"></script>
    <script src="<%= asset_url('scripts/index.js') %>"></script>
  </body>
</html>
