<!DOCTYPE html>
<html lang="<%= infos.locale %>">
  <head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate" />
    <link rel="stylesheet" href="<%= asset_url('styles/index.styl') %>">
    <title><%= t('site.global.title') %><%= title ? " - " + title : "" %></title>
  </head>
  <body>

    <div id="app">
      <section id="menu">
        <link-ui @click.native="goTo('index.html')" :disable="shared_store.page.name === 'index'">Home</link-ui>
        <link-ui @click.native="goTo('about.html')" :disable="shared_store.page.name === 'about'">About</link-ui>
      </section>

      <div id="page">
        <div class="page__content" data-namespace="<%= page %>">
          <%= content %>
        </div>
      </div>
    </div>

    <%= include('../debug.html.ejs') %>

    <script src="<%= asset_url('scripts/vendor/index.js') %>"></script>
    <script src="<%= asset_url('scripts/index.js') %>"></script>
  </body>
</html>
